body {
  background-color: $color-grey;
  margin: 0;
}
#left-section {
  float: left;
  margin-right: 36px;
}
#right-section {
  .container {
    padding: 36px 32px 36px 0px;
    margin-left: 3.5%;
    .tree-routes {
      font-family: "SpaceRegular";
      font-size: 13px;
      line-height: 17px;
      color: $color-grey3;
    }
  }
}

button {
  cursor: pointer;
}
