<div class="generic-modal modal">
  <div class="modal--overlay"></div>
  <div class="modal--container">
    <div class="modal--title">Here goes the title</div>
    <div class="modal--content">Here goes the content</div>
    <div class="modal--buttons">
      <button
        type="button"
        class="close--modal js--cancel"
        data-dismiss="modal"
        aria-label="Close"
      >
        Cancel
      </button>
      <button type="button" class="confirm--modal js--confirm">Confirm</button>
    </div>
  </div>
</div>
