<div class="edit-shareholder">
  <div class="shareholder-information">
    <span class="name">GENEIA | Nro. 67888</span>
  </div>
  <div class="shareholder-container">
    <div class="external-agent">
      <div class="external-agent--base-title">
        <div class="external-agent--title">Agente externo</div>
        <div class="external-agent--base">
          Base %
          <input type="text" value="60" />
        </div>
      </div>
      <div class="external-agent--add-agent">
        <div class="external-agent--name">
          <label for="agent-name">Agente</label>
          <input type="text" placeholder="Agente externo" id="agent-name" />
        </div>
        <div class="external-agent--commission">
          <label for="agent-commission">% comisión</label>
          <input type="text" placeholder="50%" id="agent-commission" />
        </div>
        <div class="external-agent--cta">
          <button type="button" class="js--add-agent">
            <i data-feather="plus" class="plus-icon"></i>
            Agregar
          </button>
        </div>
      </div>
      <div class="external-agent--table table">
        <table>
          <tbody>
            <tr>
              <td>Banco Santa Fé</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="funds">
      <div class="funds--title">Fondos</div>
      <div class="funds--search">
        <div class="funds--container">
          <input type="text" placeholder="Buscar" class="search-funds" />
          <div id="results-funds">
            <div>Test result one</div>
            <div>Test result one</div>
            <div>Test result one</div>
            <div>Test result one</div>
          </div>
          <div class="cross-delete">
            <a href="#" class="js--delete-search"
              ><i data-feather="x-circle" class="plus-icon"></i
            ></a>
          </div>
        </div>
        <select name="filter-funds" id="filter-funds">
          <option value="all">Ver todos</option>
          <option value="agents">Agentes</option>
          <option value="officers">Oficiales</option>
        </select>
      </div>
      <div class="funds--table table">
        <table>
          <thead>
            <tr>
              <th>Fondo</th>
              <th>Ofi/Ag</th>
              <th>Base</th>
              <th>%</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>GAINVEST BALANCEADO I</td>
              <td>Maganas/Tagle</td>
              <td>70</td>
              <td>
                <input type="text" class="funds--input-percent" disabled />
              </td>
              <td>
                <a href="#" class="funds--edit-percent"
                  ><i data-feather="edit" class="icons"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>GAINVEST BALANCEADO II</td>
              <td>Maganas/Tagle</td>
              <td>70</td>
              <td>
                <input type="text" class="funds--input-percent" disabled />
              </td>
              <td>
                <a href="#" class="funds--edit-percent"
                  ><i data-feather="edit" class="icons"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="officers">
      <div class="officers--base-title">
        <div class="officers--title">Oficiales</div>
        <div class="officers--base">
          Base %
          <input type="text" value="40" />
        </div>
      </div>
      <div class="officers--add-agent">
        <div class="officers--name">
          <label for="officer-name">Oficiales</label>
          <input type="text" placeholder="Oficial" id="officer-name" />
        </div>
        <div class="officers--commission">
          <label for="officer-commission">% comisión</label>
          <input type="text" placeholder="50%" id="officer-commission" />
        </div>
        <div class="officers--cta">
          <button type="button" class="js--add-officer">
            <i data-feather="plus" class="plus-icon"></i>
            Agregar
          </button>
        </div>
      </div>
      <div class="officers--table table">
        <table>
          <tbody>
            <tr>
              <td>Maganas/Tagle</td>
              <td>50%</td>
            </tr>
            <tr>
              <td>Restante</td>
              <td>70%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="shareholder--buttons-container">
    <button class="js--save-changes">Guardar cambios</button>
    <button class="js--apply-all">Aplicar a todos</button>
  </div>
</div>

<script src="assets/scripts/shareholder.js"></script>
