<div class="modal-apply-all">
  <div class="search-sh--container">
    <label for="search-shareholder">Cuotapartista</label>
    <input type="text" placeholder="Cuotapartista" id="search-shareholder" />
  </div>
  <div class="results-sh--container">
    <div class="results-sh--title">
      Los cambios se aplicarán a los siguientes cuotapartistas:
    </div>
    <div class="table apply-all--table">
      <table>
        <tbody>
          <tr>
            <td>April Curtis</td>
            <td><a href="#" class="js--delete-applied-sh">Eliminar</a></td>
          </tr>
          <tr>
            <td>Peter Thornton</td>
            <td><a href="#" class="js--delete-applied-sh">Eliminar</a></td>
          </tr>
          <tr>
            <td>Rick Wright</td>
            <td><a href="#" class="js--delete-applied-sh">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
