// Colors
$color-overlay: rgba(0, 0, 0, 0.6);

$color-white: #fff;
$color-dark: #000000;

$color-grey: #eeeeee;
$color-grey2: #d9d9d9;
$color-grey3: #a9a9a9;
$color-grey4: #d2d2d2;
$color-grey5: #e8e8e8;
$color-grey6: #4d4d4d;
$color-grey7: #f9f9f9;
$color-grey8: #f5f5f5;
$color-grey9: #929292;
$color-grey10: #eaeaea;
$color-grey11: #555555;

$color-blue: #123559;
$color-blue2: #295a8c;

$color-red: #f74f4f;

// Index
$zIndexMax: 8000;
$zIndexBehind: -1;
