<section class="nav-bar nav-sidebar nav-bar--is-closed">
  <div class="nav-bar--logo">
    <a class="nav-bar--menu-icon js--menu-pressable"
      ><i data-feather="menu" class="icons"></i
    ></a>
    <img src="/assets/images/logo.png" />
  </div>
  <div class="nav-bar--container">
    <a class="nav-bar--link link--home">
      <i data-feather="home" class="icons"></i>
      <p>Home</p>
    </a>
    <a class="nav-bar--link link--employees">
      <i data-feather="users" class="icons"></i>
      <p>Empleados</p>
    </a>
    <a class="nav-bar--link link--increments">
      <i data-feather="bar-chart" class="icons"></i>
      <p>Incrementos</p>
    </a>
    <a class="nav-bar--link link--eg">
      <i data-feather="dollar-sign" class="icons"></i>
      <p>Gratificaci&oacute;n especial</p>
    </a>
    <a class="nav-bar--link link--bonus">
      <i data-feather="gift" class="icons"></i>
      <p>Bonos</p>
      <i data-feather="chevron-down" class="icon20-dark navigation-icon"></i>
    </a>
    <a class="nav-bar--link link--commissions sub-nav">
      <i data-feather="percent" class="icons"></i>
      <p>Comisiones</p>
      <i data-feather="chevron-down" class="icon20-dark navigation-icon"></i>
    </a>
    <div class="subnav-items container--subnav-commissions">
      <a href="#" class="subnav-link link--commissions">
        <i data-feather="trending-up" class="icons"></i> Cuotapartistas
      </a>
      <a href="#" class="subnav-link">
        <i data-feather="user" class="icons"></i> Comitentes
      </a>
      <a href="#" class="subnav-link">
        <i data-feather="trending-up" class="icons"></i> Fondos
      </a>
    </div>
    <a class="nav-bar--link link--evolutionary">
      <i data-feather="trending-up" class="icons"></i>
      <p>Evolutivo</p>
    </a>
    <a class="nav-bar--link link--users">
      <i data-feather="user" class="icons"></i>
      <p>Usuarios</p>
    </a>
    <a class="nav-bar--link link--settings">
      <i data-feather="settings" class="icons"></i>
      <p>Configuraci&oacute;n</p>
    </a>
    <a class="nav-bar--link link--help">
      <i data-feather="help-circle" class="icons"></i>
      <p>Ayuda</p>
    </a>
  </div>
</section>

<script src="/assets/scripts/navigation.js"></script>

<script>
  feather.replace();
</script>
