@mixin defaultButtons($color: $color-white, $fontSize: 14px) {
  font-family: "SpaceRegular";
  font-size: $fontSize;
  font-weight: 400;
  line-height: 18px;
  border-radius: 8px;
  border: none;
  color: $color;
}

@mixin defaultFont13($color: $color-grey6, $fontSize: 13px) {
  font-family: "SpaceRegular";
  font-size: $fontSize;
  font-weight: 400;
  line-height: 17px;
  color: $color;
}

@mixin shareHolderContainer() {
  width: 100%;
  background-color: $color-white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
}

// Targets specified width and up
@mixin bp-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Targets everything below specified width, but not at the specified width
@mixin bp-below($width) {
  @media (max-width: $width - 0.063rem) {
    @content;
  }
}

// Targets specified width and below
@mixin bp-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Targets everything above specified width, but not at the specified width
@mixin bp-above($width) {
  @media (min-width: $width + 0.063rem) {
    @content;
  }
}

// Targets everything between two specified width
@mixin bp-between($minWidth, $maxWidth) {
  @media (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}
